/* SEM BORDAAA */
body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
}

.cabecalho-principal {
  background-color: #22c55e;
  color: white;
  padding: 20px 0;
}


.conteudo-header {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.link-menu {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.link-menu:hover {
  text-decoration: underline;
}